
<mat-toolbar class="nav-bar">
    <span>Cardify Flash Cards</span>
    <div class="space"></div>
    <mat-slide-toggle [(ngModel)]="value"><p class="toggle-text">Table view</p>
    </mat-slide-toggle>

    <button mat-button class="add-card" (click)="openAddDialog()">Add new card</button>
    <button mat-button class="add-card" (click)="helpPage()">Developer Contact</button>
    
</mat-toolbar>

<br><br><br>

<div class="cardview" *ngIf="!value; else elseblock">
    <mat-card class="card" *ngFor="let flashcard of flashcards">
        <mat-card-header>
            <mat-card-title class="question">{{flashcard.question}}</mat-card-title>
        </mat-card-header>
        <br>

        <mat-card-content>
            <button mat-button class="btn" (click)="openAnsDialog(flashcard.flashcard_id)"> Answer </button>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button class="btn" (click)="openEditDialog(flashcard.flashcard_id)">Edit</button>
            <button mat-button class="btn" (click)="openDeleteDialog(flashcard.flashcard_id)">Delete</button>
        </mat-card-actions>

    </mat-card>
</div>

<ng-template class="tableview" #elseblock>
    <div class="table-box mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="slno">
                <th mat-header-cell *matHeaderCellDef> Sl. No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}&#41; </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef> Question </th>
                <td mat-cell *matCellDef="let element"> {{element.question}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="ans-btn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> <button mat-button class="btn1" (click)="openAnsDialog(element.flashcard_id)">Answer</button> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="edit-btn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> <button mat-button class="btn1" (click)="openEditDialog(element.flashcard_id)">Edit</button> </td>
            </ng-container>

            <ng-container matColumnDef="delete-btn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> <button mat-button class="btn1" (click)="openDeleteDialog(element.flashcard_id)">Delete</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</ng-template>


<br><br><br>