body {
    overflow-x: hidden;
}

/* ------------------------------------------------------------------------------------------ */

/* navbar style */

.nav-bar {
    background-color: #000000;
}

.space {
    flex: 1 1 auto;
}

span {
    font-family: 'montserrat';
    font-weight: bold;
    color: #ffffff;
}

.add-card {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: none;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 17px;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 0.2%;
}

.add-card:hover {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff0000;
}


/* ------------------------------------------------------------------------------------------ */

.card {
    font-family: 'montserrat';
    width: 25%;
    height: 70%;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.card span {
    font-family: 'montserrat';
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin: 1em;
}

.card .img {
    width: 10em;
    height: 10em;
    border-radius: 10px;
    margin: auto;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
}

.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card a {
    color: white;
    transition: .4s ease-in-out;
}

svg {
   width: 35px;
   height: 35px;
   padding: 10px; 
}

.card a:hover {
    color: red;
}

.resume {
    text-decoration: none;
}

.card .resume {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.card .resume:hover {
    background: red;
    color: white;
    cursor: pointer;
}